@media screen and (max-width: 428px){
    /* Key Vision Block */
    .kv{
        width: 100vw;
        height: 50vh;
        margin-top: calc(10vh + 10px);
    }
    
    .kv .kv-subtract{
        display: none;
    } 
    
    .kv img{
        width: 100vw;
        height: 50vh;
        top: 5px;
    }
    
    .kv h1{
        font-size: 3.5rem;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
    }
        
    /* Form Block */
    .formWrapper{
        width: 100vw;
        padding-top: 20px;
    }
    
    .form{
        width: 70vw;
        margin: 0 auto;
        
    }
}