@media screen and (max-width: 428px){
    h4{
        padding-left: 10px;
        margin-bottom: 10px;
    }

     /* Key Vision Block */
     .kv{
        width: 100vw;
        height: 50vh;
        margin-top: calc(10vh + 10px);
    }

    .kv .kv-subtract{
        display: none;
    } 

    .kv img{
        width: 100vw;
        height: 50vh;
        top: 5px;
    }

    .kv h1{
        font-size: 3rem;
        left: 5vw;
        right: 0;
    }
    
    .info-block{
        width: 100vw;
    }

    /* Open Time Block */
    .openTime li:nth-child(3) h6{
        padding: 10px 10vw;
    }

    /* Transportaion */
    .transport ul{
        align-items: center;
    }

    .transport ul li{
        margin: auto;
        margin-bottom: 20px;
    }

    /* OpenTime Block */
    .openTime li{
        display: flex;
        flex-direction: column;
    }

    /* Transportation Block */
    .transport ul{
        display: flex;
        flex-direction: column;
    }

    .transportWay{
        margin: 0;
    }

    /* Precaution Block */
    .precaution{
        width: 50vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cautionWrapper{
        background-color: #FDD764;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .precaution i{
        display: block;
    }

    .precaution .cautionTitle{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        width: 50vw;
        height: 5vh;
        line-height: 5vh;
        margin: 0 auto;
    }

    .cautionContent{
        display: none;
        padding: 10px 20px;
    }

    .cautionWrapperShow{
        background-color: #FBFFF6;
        border: 2px solid #FDD764;
        height: auto;
    
    }

    .cautionContentShow{
        display: block;
    }
    
    /* Ticket Aside */
        .ticket img{
            width: 15vw;
        }
    }   
    